version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.7.4
    steps:
      - checkout
      - restore_cache:
          keys:
           - v1-dependencies-{{ checksum "requirements.txt" }}
           - v1-dependencies-
      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt
      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "requirements.txt" }}
  initialise:
    docker:
      - image: circleci/python:3.7.4
        environment:
          DATABASE_URL: postgresql://circleci:somePwd@localhost:5432/mydb
      - image: circleci/postgres:9.6.5
        environment:
          POSTGRES_DB: mydb
          POSTGRES_USER: circleci
          POSTGRES_PASSWORD: somePwd
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "requirements.txt" }}
            - v1-dependencies-
      - run:
          name: initialise db
          command: |
            . venv/bin/activate
            dockerize -wait tcp://localhost:5432 -timeout 1m
            flask db migrate
            flask db upgrade

workflows:
  version: 2
  build_circleci:
    jobs:
      - build
      - initialise:
          requires:
            - build
