version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.7.4
      - image: circleci/postgres:9.6.5
        environment:
          POSTGRES_DB: psqluer
          POSTGRES_USER: psqluer
          POSTGRES_PASSWORD: psqlpassword
    steps:
      - checkout
      - restore_cache:
        keys: dependencies-env
      - run:
          name: install dependencies
          command: |
            mkdir -p ./venv
            virtualenv ./venv
            . venv/bin/activate
            pip install -r requirements.txt
      - save_cache:
          key: dependencies-env
          paths:
            - ./env
  initialise:
    docker:
      - image: circleci/python:3.7.4
      - image: circleci/postgres:9.6.5
        environment:
          POSTGRES_DB: psqluer
          POSTGRES_USER: psqluer
          POSTGRES_PASSWORD: psqlpassword
    steps:
      - checkout
      - restore_cache:
        keys: dependencies-env
      - run:
          name: initialise db
          command: |
          flask db init

workflows:
  version: 2
  build_circleci:
    jobs:
      - build
      - initialise:
        requires:
          - build
