version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.7.4
    steps:
      - checkout
      - restore_cache:
          keys:
           - v1-dependencies-{{ checksum "requirements.txt" }}
           - v1-dependencies-
      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt
      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "requirements.txt" }}
  initialise:
    docker:
      - image: circleci/python:3.7.4
      - image: circleci/postgres:9.6.5
        environment:
          POSTGRES_DB: psqluser
          POSTGRES_USER: psqluser
          POSTGRES_PASSWORD: psqlpassword
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "requirements.txt" }}
            - v1-dependencies-
      - run: gunicorn autoapp:app -b 0.0.0.0:$5432 -w 3
      - run:
          name: initialise db
          command: |
            . venv/bin/activate
            flask db migrate
            flask db upgrade

workflows:
  version: 2
  build_circleci:
    jobs:
      - build
      - initialise:
          requires:
            - build
